@{
    Layout = "Layout";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<NancyBlog.BlogPost>>
@using System.Collections.Generic

@foreach (var item in Model)
{
    <h3><a href="@item.Localink">@item.Title - @item.PublishedDate.ToString("D")</a></h3>
    @Html.Raw(@item.Summary)
}
