@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyBlog.Model.BlogPost>

@{
    Layout = "Layout";
}

@section title{
  Nancy Blog - @Model.Title
}


<div class="post-item boxed post-detail">
    <div class="post-title">
        <h1><a href="@Model.Localink">@Model.Title</a></h1>
    </div>
    <div class="post-meta-top">
        <span class="post-date">@Model.PublishedDate.ToString("MMMM dd, yyyy")</span>  <span class="post-author">@Model.Author</span> <span class="link-comments"><a href="@Model.OriginalLink">Original Link</a></span>
    </div>
    <div class="post-descr entry">
        @Html.Raw(Model.Content)
        <p></p>
        <p><strong>"This post was aggregated from @Model.OriginalLink and all comments should be submited on the original post"</strong></p>
    </div>
    @*<div id="tagcloud">
        @foreach (var category in Model.Categories)
        {
            <a href="/category/@category.Url"><span>@category.Name</span></a>
        }
    </div>*@
    
  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="@Model.Author">
    </span>
</div>

